@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Ubuntu', sans-serif;
}

@layer base {
    @font-face {
        font-family: 'Blanka Regular';
        font-style: normal;
        font-weight: normal;
        src:url('/src/Fonts/Blanka-Regular.otf') format('opentype');
    }
}